<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zaferayan.newsportal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
            android:name=".app.MyApplication"
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service android:name=".backgroundService.UpdaterService"/>

        <activity
                android:name=".ui.sources.view.SourcesActivity"
                android:label="@string/appbar_sources"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="www.zaferayan.com"
                        android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.topHeadlines.view.TopHeadlinesActivity"
                android:parentActivityName=".ui.sources.view.SourcesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.savedArticles.SavedArticlesActivity"
                android:label="@string/appbar_saved_articles"
                android:parentActivityName=".ui.topHeadlines.view.TopHeadlinesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".ui.webview.WebViewActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.topHeadlines2.TopHeadlinesActivity2"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.sources.view.SourcesActivity">
        </activity>
    </application>

</manifest>